@import url(//fonts.googleapis.com/css?family=Vibur);

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center no-repeat;
  background-size: cover;
  margin: 0;
}

.logo {
  text-align: center;
  max-width: 40rem;
  height: auto;
  margin: 0 auto;
  user-select: none;
}

.logo b {
  display: inline-block;
  font-family: "Vibur", cursive;
  font-weight: 400;
  font-size: 10vw; /* 根据视口宽度自适应缩放 */
  color: #fee;
  text-shadow:
    0 -2rem 6rem,
    0 0 0.2rem,
    0 0 1em #ff4444,
    0 0 0.5em #ff4444,
    0 0 0.1em #ff4444,
    0 0.5rem 0.2rem #000;
}

.logo b span {
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
